-- CreateTable
CREATE TABLE "auth_group" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(150) NOT NULL,

    CONSTRAINT "auth_group_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_group_permissions" (
    "id" BIGSERIAL NOT NULL,
    "group_id" INTEGER NOT NULL,
    "permission_id" INTEGER NOT NULL,

    CONSTRAINT "auth_group_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_permission" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "content_type_id" INTEGER NOT NULL,
    "codename" VARCHAR(100) NOT NULL,

    CONSTRAINT "auth_permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "authtoken_token" (
    "key" VARCHAR(40) NOT NULL,
    "created" TIMESTAMPTZ(6) NOT NULL,
    "user_id" INTEGER NOT NULL,

    CONSTRAINT "authtoken_token_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "authw_user" (
    "id" SERIAL NOT NULL,
    "password" VARCHAR(128) NOT NULL,
    "last_login" TIMESTAMPTZ(6),
    "is_superuser" BOOLEAN NOT NULL,
    "username" VARCHAR(150) NOT NULL,
    "first_name" VARCHAR(150) NOT NULL,
    "last_name" VARCHAR(150) NOT NULL,
    "is_staff" BOOLEAN NOT NULL,
    "is_active" BOOLEAN NOT NULL,
    "date_joined" TIMESTAMPTZ(6) NOT NULL,
    "email" VARCHAR(254),

    CONSTRAINT "authw_user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "authw_user_groups" (
    "id" BIGSERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "group_id" INTEGER NOT NULL,

    CONSTRAINT "authw_user_groups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "authw_user_user_permissions" (
    "id" BIGSERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "permission_id" INTEGER NOT NULL,

    CONSTRAINT "authw_user_user_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "authw_usersettings" (
    "id" SERIAL NOT NULL,
    "theme" VARCHAR(20) NOT NULL,
    "voice_preference" VARCHAR(25) NOT NULL,
    "emotion_choice" VARCHAR(255) NOT NULL,
    "user_id" INTEGER NOT NULL,
    "credits_remaining" DECIMAL(10,4) NOT NULL,
    "tiers" VARCHAR(10) NOT NULL,
    "custom_themes" JSONB NOT NULL,
    "name" VARCHAR(150) NOT NULL,
    "profile_pic" JSONB NOT NULL,

    CONSTRAINT "authw_usersettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "authw_userwallets" (
    "id" SERIAL NOT NULL,
    "wallet_address" VARCHAR(255) NOT NULL,
    "wallet_provider" VARCHAR(50) NOT NULL,
    "user_id" INTEGER NOT NULL,

    CONSTRAINT "authw_userwallets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_chatmessage" (
    "id" BIGSERIAL NOT NULL,
    "message" JSONB NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,
    "room_id" INTEGER NOT NULL,

    CONSTRAINT "chat_chatmessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_chatroom" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "session_id" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,
    "user_id" INTEGER NOT NULL,
    "agent_id" SMALLINT,
    "message_updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "chat_chatroom_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "django_admin_log" (
    "id" SERIAL NOT NULL,
    "action_time" TIMESTAMPTZ(6) NOT NULL,
    "object_id" TEXT,
    "object_repr" VARCHAR(200) NOT NULL,
    "action_flag" SMALLINT NOT NULL,
    "change_message" TEXT NOT NULL,
    "content_type_id" INTEGER,
    "user_id" INTEGER NOT NULL,

    CONSTRAINT "django_admin_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "django_content_type" (
    "id" SERIAL NOT NULL,
    "app_label" VARCHAR(100) NOT NULL,
    "model" VARCHAR(100) NOT NULL,

    CONSTRAINT "django_content_type_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "django_migrations" (
    "id" BIGSERIAL NOT NULL,
    "app" VARCHAR(255) NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "applied" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "django_migrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "django_session" (
    "session_key" VARCHAR(40) NOT NULL,
    "session_data" TEXT NOT NULL,
    "expire_date" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "django_session_pkey" PRIMARY KEY ("session_key")
);

-- CreateTable
CREATE TABLE "django_site" (
    "id" SERIAL NOT NULL,
    "domain" VARCHAR(100) NOT NULL,
    "name" VARCHAR(50) NOT NULL,

    CONSTRAINT "django_site_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fcm_django_fcmdevice" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255),
    "active" BOOLEAN NOT NULL,
    "date_created" TIMESTAMPTZ(6),
    "device_id" VARCHAR(255),
    "registration_id" TEXT NOT NULL,
    "type" VARCHAR(10) NOT NULL,
    "user_id" INTEGER,

    CONSTRAINT "fcm_django_fcmdevice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "health_check_db_testmodel" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(128) NOT NULL,

    CONSTRAINT "health_check_db_testmodel_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "auth_group_name_key" ON "auth_group"("name");

-- CreateIndex
CREATE INDEX "auth_group_name_a6ea08ec_like" ON "auth_group"("name");

-- CreateIndex
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions"("group_id");

-- CreateIndex
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions"("permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions"("group_id", "permission_id");

-- CreateIndex
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission"("content_type_id");

-- CreateIndex
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission"("content_type_id", "codename");

-- CreateIndex
CREATE UNIQUE INDEX "authtoken_token_user_id_key" ON "authtoken_token"("user_id");

-- CreateIndex
CREATE INDEX "authtoken_token_key_10f0b77e_like" ON "authtoken_token"("key");

-- CreateIndex
CREATE UNIQUE INDEX "authw_user_username_key" ON "authw_user"("username");

-- CreateIndex
CREATE INDEX "authw_user_username_60f6f6d5_like" ON "authw_user"("username");

-- CreateIndex
CREATE INDEX "authw_user_groups_group_id_a3200e9f" ON "authw_user_groups"("group_id");

-- CreateIndex
CREATE INDEX "authw_user_groups_user_id_5c309d6e" ON "authw_user_groups"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "authw_user_groups_user_id_group_id_c5f45fc9_uniq" ON "authw_user_groups"("user_id", "group_id");

-- CreateIndex
CREATE INDEX "authw_user_user_permissions_permission_id_3f46cb26" ON "authw_user_user_permissions"("permission_id");

-- CreateIndex
CREATE INDEX "authw_user_user_permissions_user_id_0f18e082" ON "authw_user_user_permissions"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "authw_user_user_permissions_user_id_permission_id_92be5dfb_uniq" ON "authw_user_user_permissions"("user_id", "permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "authw_usersettings_user_id_key" ON "authw_usersettings"("user_id");

-- CreateIndex
CREATE INDEX "authw_userwallets_user_id_3f218d95" ON "authw_userwallets"("user_id");

-- CreateIndex
CREATE INDEX "chat_chatmessage_room_id_5d04fb68" ON "chat_chatmessage"("room_id");

-- CreateIndex
CREATE INDEX "chat_chatroom_user_id_80e8b860" ON "chat_chatroom"("user_id");

-- CreateIndex
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log"("content_type_id");

-- CreateIndex
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type"("app_label", "model");

-- CreateIndex
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session"("expire_date");

-- CreateIndex
CREATE INDEX "django_session_session_key_c0390e0f_like" ON "django_session"("session_key");

-- CreateIndex
CREATE UNIQUE INDEX "django_site_domain_a2e37b91_uniq" ON "django_site"("domain");

-- CreateIndex
CREATE INDEX "django_site_domain_a2e37b91_like" ON "django_site"("domain");

-- CreateIndex
CREATE UNIQUE INDEX "fcm_django_fcmdevice_registration_id_9918b353_uniq" ON "fcm_django_fcmdevice"("registration_id");

-- CreateIndex
CREATE INDEX "fcm_django__registr_dacdb2_idx" ON "fcm_django_fcmdevice"("registration_id", "user_id");

-- CreateIndex
CREATE INDEX "fcm_django_fcmdevice_device_id_a9406c36" ON "fcm_django_fcmdevice"("device_id");

-- CreateIndex
CREATE INDEX "fcm_django_fcmdevice_registration_id_9918b353_like" ON "fcm_django_fcmdevice"("registration_id");

-- CreateIndex
CREATE INDEX "fcm_django_fcmdevice_user_id_6cdfc0a2" ON "fcm_django_fcmdevice"("user_id");

-- AddForeignKey
ALTER TABLE "auth_group_permissions" ADD CONSTRAINT "auth_group_permissio_permission_id_84c5c92e_fk_auth_perm" FOREIGN KEY ("permission_id") REFERENCES "auth_permission"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth_group_permissions" ADD CONSTRAINT "auth_group_permissions_group_id_b120cbf9_fk_auth_group_id" FOREIGN KEY ("group_id") REFERENCES "auth_group"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auth_permission" ADD CONSTRAINT "auth_permission_content_type_id_2f476e4b_fk_django_co" FOREIGN KEY ("content_type_id") REFERENCES "django_content_type"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authtoken_token" ADD CONSTRAINT "authtoken_token_user_id_35299eff_fk" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_user_groups" ADD CONSTRAINT "authw_user_groups_group_id_a3200e9f_fk_auth_group_id" FOREIGN KEY ("group_id") REFERENCES "auth_group"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_user_groups" ADD CONSTRAINT "authw_user_groups_user_id_5c309d6e_fk" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_user_user_permissions" ADD CONSTRAINT "authw_user_user_perm_permission_id_3f46cb26_fk_auth_perm" FOREIGN KEY ("permission_id") REFERENCES "auth_permission"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_user_user_permissions" ADD CONSTRAINT "authw_user_user_permissions_user_id_0f18e082_fk" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_usersettings" ADD CONSTRAINT "authw_usersettings_user_id_1e792ee5_fk_authw_user_id" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "authw_userwallets" ADD CONSTRAINT "authw_userwallets_user_id_3f218d95_fk_authw_user_id" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "chat_chatmessage" ADD CONSTRAINT "chat_chatmessage_room_id_5d04fb68_fk_chat_chatroom_id" FOREIGN KEY ("room_id") REFERENCES "chat_chatroom"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "chat_chatroom" ADD CONSTRAINT "chat_chatroom_user_id_80e8b860_fk_authw_user_id" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "django_admin_log" ADD CONSTRAINT "django_admin_log_content_type_id_c4bce8eb_fk_django_co" FOREIGN KEY ("content_type_id") REFERENCES "django_content_type"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "django_admin_log" ADD CONSTRAINT "django_admin_log_user_id_c564eba6_fk" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "fcm_django_fcmdevice" ADD CONSTRAINT "fcm_django_fcmdevice_user_id_6cdfc0a2_fk_authw_user_id" FOREIGN KEY ("user_id") REFERENCES "authw_user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

