@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Fallback for theme */
@layer base {
  :root {
    --color-baseBackground: 255 255 255;
    /* #FFFFFF */
    --color-background: 237 237 237;
    /* #EDEDED */
    --color-backgroundContrast: 27 27 27;
    /* #1b1b1b */
    --color-sec_background: 242 242 243;
    /* #f2f2f3 */
    --color-surface: 242 242 243;
    /* #f2f2f3 */
    --color-textColor: 12 13 13;
    /* #0c0d0d */
    --color-textColorContrast: 255 255 255;
    /* #FFFFFF */
    --color-secText: 37 38 39;
    /* #252627 */
    --color-border: 189 191 193;
    /* #bdbfc1 */
    --color-primary: 197 179 254;
    /* #c5b3fe */
    --color-primaryDark: 159 129 254;
    /* #9f81fe */
  }
}



.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

[x-cloak] {
  display: none !important;
}
